<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <title>Flex Box</title>
</head>

<body>
    <header>
        <h1>100 days of code</a>
            <nav>
                <ul>
                    <li><a href="../apresentacao.html">Home</a></li>
                    <li><a href="flexbox.html">Flex-Box</a></li>
                    <li><a href="Gridsystem.html">Grid-System</a></li>
                </ul>
            </nav>
    </header>

    <nav class="container">
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
        <li>E</li>
        <li>F</li>
        <li>G</li>
        <li>H</li>
    </nav>
    <nav class="container2">
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <!-- <a href="">Home</a> -->
        <li>D</li>
        <li>E</li>
        <li>F</li>
        <li>G</li>
        <li>H</li>

    </nav>
    <nav class="align">
        <li class="a">A</li>
        <li class="b">B</li>
        <li class="c">C</li>
        <li class="d">D</li>
    </nav>

</body>
</html>
