$var1: #504df8;
$shadow: 2px 2px 5px #757575;
$espaco: 20px; 
$reset: border-box;
$texto-cor: white;
$imagem: '../img/teste.jpg';

*{
     box-sizing: $reset;

}
h1{
     box-shadow: $shadow;
     background-color: $var1;
     padding: $espaco;
     color: $texto-cor;
     text-align: right;

}
body{
     background-image: url($imagem);
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;

}
